<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-vuforia"
        version="3.2.1">
    <name>Vuforia</name>
    <description>Cordova Vuforia Plugin</description>
    <license>MIT</license>
    <keywords>cordova,vuforia,image,recognition,augmented,reality</keywords>
    <repo>git@github.com:mattrayner/cordova-plugin-vuforia.git</repo>
    <issue>https://github.com/mattrayner/cordova-plugin-vuforia/issues</issue>

    <author>Matthew Rayner</author>

    <info>
        Cordova Vuforia Plugin version 3.2.1, Copyright (C) 2016 Matthew Rayner
        Cordova Vuforia Plugin comes with ABSOLUTELY NO WARRANTY; see the
        LICENSE file for more information.
        This is free software, and you are welcome to redistribute it
        under certain conditions; see the LICENSE file for more information.
    </info>

    <js-module src="www/VuforiaPlugin.js" name="VuforiaPlugin">
        <clobbers target="navigator.VuforiaPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <!-- Plugin Config -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VuforiaPlugin" >
                <param name="android-package" value="com.mattrayner.vuforia.VuforiaPlugin"/>
            </feature>
        </config-file>

        <!-- Add our activities to the Android Manifest -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.mattrayner.vuforia.app.ImageTargets"
                android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
                android:screenOrientation="landscape"
                android:noHistory="true">
            </activity>
        </config-file>

        <!-- Add our required strings -->
        <config-file target="res/values/strings.xml" parent="/*">
            <string name="button_OK">OK</string>
        </config-file>

        <!-- Plugin Source -->
        <source-file src="src/android/java/com/mattrayner/vuforia/VuforiaPlugin.java" target-dir="src/com/mattrayner/vuforia" />

        <!-- Assets -->
        <resource-file src="src/android/res/values/arcode_strings.xml" target="res/values/arcode_strings.xml" />
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
        <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
        <resource-file src="src/android/res/values/facebookconnect.xml" target="res/values/facebookconnect.xml" />
        <resource-file src="src/android/res/values/parseplugin.xml" target="res/values/parseplugin.xml" />
        <resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml" />
        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />


        <resource-file src="src/android/res/layout/sample_app_menu_layer.xml" target="res/layout/sample_app_menu_layer.xml" />
        <resource-file src="src/android/res/layout/camera_overlay_with_scanline.xml" target="res/layout/camera_overlay_with_scanline.xml" />
        <resource-file src="src/android/res/layout/sample_app_menu_group.xml" target="res/layout/sample_app_menu_group.xml" />
        <resource-file src="src/android/res/layout/sample_app_menu_group_divider.xml" target="res/layout/sample_app_menu_group_divider.xml" />
        <resource-file src="src/android/res/layout/sample_app_menu_group_radio_button.xml" target="res/layout/sample_app_menu_group_radio_button.xml" />

        <resource-file src="src/android/res/drawable/scanline.png" target="res/drawable/scanline.png" />


        <resource-file src="src/android/res/drawable/devices.png" target="res/drawable/devices.png" />
        <resource-file src="src/android/res/drawable-hdpi/devices.png" target="res/drawable-hdpi/devices.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/devices.png" target="res/drawable-xxhdpi/devices.png" />

        <resource-file src="src/android/res/drawable/closebutton.png" target="res/drawable/closebutton.png" />
        <resource-file src="src/android/res/drawable-hdpi/closebutton.png" target="res/drawable-hdpi/closebutton.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/closebutton.png" target="res/drawable-xxhdpi/closebutton.png" />

        <resource-file src="src/android/res/drawable/closebutton_onpress.png" target="res/drawable/closebutton_onpress.png" />
        <resource-file src="src/android/res/drawable-hdpi/closebutton_onpress.png" target="res/drawable-hdpi/closebutton_onpress.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/closebutton_onpress.png" target="res/drawable-xxhdpi/closebutton_onpress.png" />

        <resource-file src="src/android/res/drawable/closebutton_selector.xml" target="res/drawable/closebutton_selector.xml" />
        <resource-file src="src/android/res/drawable-hdpi/closebutton_selector.xml" target="res/drawable-hdpi/closebutton_selector.xml" />
        <resource-file src="src/android/res/drawable-xxhdpi/closebutton_selector.xml" target="res/drawable-xxhdpi/closebutton_selector.xml" />

        <resource-file src="src/android/res/layout/camera_overlay.xml" target="res/layout/camera_overlay.xml" />

        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/SampleApplicationControl.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/SampleApplicationException.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/SampleApplicationSession.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/SampleAppRenderer.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/SampleAppRendererControl.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/" />

        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/utils/CubeObject.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/utils/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/utils/CubeShaders.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/utils/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/utils/LineShaders.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/utils/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/utils/LoadingDialogHandler.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/utils/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/utils/MeshObject.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/utils/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/utils/SampleApplication3DModel.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/utils/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/utils/SampleApplicationGLView.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/utils/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/utils/SampleMath.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/utils/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/utils/SampleUtils.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/utils/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/utils/Teapot.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/utils/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/utils/Texture.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/utils/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/SampleApplication/utils/VideoBackgroundShader.java" target-dir="src/com/mattrayner/vuforia/samples/SampleApplication/utils/" />

        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/VuforiaSamples/app/CloudRecognition/CloudReco.java" target-dir="src/com/mattrayner/vuforia/samples/VuforiaSamples/app/CloudRecognition/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/VuforiaSamples/app/CloudRecognition/CloudRecoRenderer.java" target-dir="src/com/mattrayner/vuforia/samples/VuforiaSamples/app/CloudRecognition/" />

        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/VuforiaSamples/ui/SampleAppMenu/SampleAppMenu.java" target-dir="src/com/mattrayner/vuforia/samples/VuforiaSamples/ui/SampleAppMenu/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/VuforiaSamples/ui/SampleAppMenu/SampleAppMenuAnimator.java" target-dir="src/com/mattrayner/vuforia/samples/VuforiaSamples/ui/SampleAppMenu/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/VuforiaSamples/ui/SampleAppMenu/SampleAppMenuGroup.java" target-dir="src/com/mattrayner/vuforia/samples/VuforiaSamples/ui/SampleAppMenu/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/VuforiaSamples/ui/SampleAppMenu/SampleAppMenuInterface.java" target-dir="src/com/mattrayner/vuforia/samples/VuforiaSamples/ui/SampleAppMenu/" />
        <resource-file src="src/android/java/com/mattrayner/vuforia/samples/VuforiaSamples/ui/SampleAppMenu/SampleAppMenuView.java" target-dir="src/com/mattrayner/vuforia/samples/VuforiaSamples/ui/SampleAppMenu/" />
        
        
        <!--<source-file src="src/android/java/com/mattrayner/vuforia/app/ImageTargetRenderer.java"
                     target-dir="src/com/vuforia/app" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/ApplicationControl.java"
                     target-dir="src/com/vuforia/app" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/ApplicationException.java"
                     target-dir="src/com/vuforia/app" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/ApplicationSession.java"
                     target-dir="src/com/vuforia/app" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/utils/LoadingDialogHandler.java"
                     target-dir="src/com/vuforia/app/utils" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/utils/MeshObject.java"
                     target-dir="src/com/vuforia/app/utils" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/utils/ApplicationGLView.java"
                     target-dir="src/com/vuforia/app/utils" />
        <source-file src="src/android/java/com/mattrayner/vuforia/app/utils/Texture.java"
                     target-dir="src/com/vuforia/app/utils" />-->

        <!-- Include our resources -->
        <resource-file src="targets/PluginTest.dat"
                       target="assets/PluginTest.dat" />
        <resource-file src="targets/PluginTest.xml"
                       target="assets/PluginTest.xml" />

        <resource-file src="targets/PluginTest.xml"
                       target="assets/PluginTest.xml" />
                       
    </platform>

    <!-- ios -->
    <platform name="ios">
        <!-- config file -->
        <config-file target="config.xml" parent="/*">
            <feature name="VuforiaPlugin">
                <param name="ios-package" value="VuforiaPlugin" />
            </feature>
        </config-file>

        <!-- Add a value to our Info.plist file for iOS 10+ security permissions -->
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>To scan for images.</string>
        </config-file>

        <header-file src="src/ios/VuforiaPlugin.h" />
        <source-file src="src/ios/VuforiaPlugin.m" />
        <header-file src="src/ios/ViewController.h" />
        <source-file src="src/ios/ViewController.mm" />

        <header-file src="src/ios/ImageTargets/ImageTargetsEAGLView.h" />
        <source-file src="src/ios/ImageTargets/ImageTargetsEAGLView.mm" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/ImageTargets/ImageTargetsViewController.h" />
        <source-file src="src/ios/ImageTargets/ImageTargetsViewController.mm" compiler-flags="-fno-objc-arc"/>
		<header-file src="src/ios/ImageTargets/VideoPlaybackAppDelegate.h" />
        <source-file src="src/ios/ImageTargets/VideoPlaybackAppDelegate.m"/>
		<header-file src="src/ios/ImageTargets/VideoPlaybackEAGLView.h" />
        <source-file src="src/ios/ImageTargets/VideoPlaybackEAGLView.mm" />
		<header-file src="src/ios/ImageTargets/VideoPlaybackViewController.h" />
        <source-file src="src/ios/ImageTargets/VideoPlaybackViewController.mm" />
		<header-file src="src/ios/ImageTargets/VideoPlayerHelper.h" />
        <source-file src="src/ios/ImageTargets/VideoPlayerHelper.mm" />

		<header-file src="src/ios/ImageTargets/PresentMenuSegue.h" />
        <source-file src="src/ios/ImageTargets/PresentMenuSegue.m" />

        <header-file src="src/ios/ImageTargets/CloudRecoEAGLView.h" />
        <source-file src="src/ios/ImageTargets/CloudRecoEAGLView.mm" />
        <header-file src="src/ios/ImageTargets/CloudRecoViewController.h" />
        <source-file src="src/ios/ImageTargets/CloudRecoViewController.mm" />
        <header-file src="src/ios/ImageTargets/SampleMath.h" />
        <source-file src="src/ios/ImageTargets/SampleMath.cpp" />
        <header-file src="src/ios/ImageTargets/Texture.h" />
        <header-file src="src/ios/ImageTargets/Teapot.h" />
        <source-file src="src/ios/ImageTargets/Texture.mm" />
        <header-file src="src/ios/ImageTargets/Quad.h" />


        <header-file src="src/ios/ImageTargets/SampleAppAboutViewController.h" />
        <source-file src="src/ios/ImageTargets/SampleAppAboutViewController.m" />
        <header-file src="src/ios/ImageTargets/SampleApplication3DModel.h" />
        <source-file src="src/ios/ImageTargets/SampleApplication3DModel.m" />
        <header-file src="src/ios/ImageTargets/SampleApplicationSession.h" />
        <source-file src="src/ios/ImageTargets/SampleApplicationSession.mm" />
        
        <header-file src="src/ios/ImageTargets/SampleApplicationShaderUtils.h" />
        <source-file src="src/ios/ImageTargets/SampleApplicationShaderUtils.m" />
        <header-file src="src/ios/ImageTargets/SampleApplicationUtils.h" />
        <source-file src="src/ios/ImageTargets/SampleApplicationUtils.cpp" />
        
        <header-file src="src/ios/ImageTargets/SampleAppMenuViewController.h" />
        <source-file src="src/ios/ImageTargets/SampleAppMenuViewController.mm" />
        <header-file src="src/ios/ImageTargets/SampleAppRenderer.h" />
        <source-file src="src/ios/ImageTargets/SampleAppRenderer.mm" />
        <header-file src="src/ios/ImageTargets/SampleAppSelectorViewController.h" />
        <source-file src="src/ios/ImageTargets/SampleAppSelectorViewController.m" />
        <header-file src="src/ios/ImageTargets/SampleGLResourceHandler.h" />

        <header-file src="src/ios/ImageTargets/UnwindMenuSegue.h" />
        <source-file src="src/ios/ImageTargets/UnwindMenuSegue.m" />

        
        <header-file src="src/ios/ImageTargets/VuforiaSamplesAppDelegate.h" />
        <source-file src="src/ios/ImageTargets/VuforiaSamplesAppDelegate.m" />

        <source-file src="src/ios/Utils/ApplicationSession.h" />
        <source-file src="src/ios/Utils/ApplicationSession.mm" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/Utils/GLResourceHandler.h" />

        <resource-file src="src/ios/VuforiaPlugin.bundle" />
        <resource-file src="src/ios/Utils/shaders/Line.fragsh" target-dir="com.mattrayner.vuforia/shader" />
        <resource-file src="src/ios/Utils/shaders/Line.vertsh" target-dir="com.mattrayner.vuforia/shader" />
        <resource-file src="src/ios/Utils/shaders/Simple.fragsh" target-dir="com.mattrayner.vuforia" />
        <resource-file src="src/ios/Utils/shaders/Simple.vertsh" target-dir="com.mattrayner.vuforia" />
        <resource-file src="src/ios/Utils/shaders/Background.fragsh" target-dir="com.mattrayner.vuforia/shader" />
        <resource-file src="src/ios/Utils/shaders/Background.vertsh" target-dir="com.mattrayner.vuforia/shader" />
        <resource-file src="src/ios/Utils/shaders/SimpleWithColor.fragsh" target-dir="com.mattrayner.vuforia" />

        <resource-file src="targets/PluginTest.dat" target-dir="com.mattrayner.vuforia" />
        <resource-file src="targets/PluginTest.xml" target-dir="com.mattrayner.vuforia" />

        <resource-file src="src/ios/Assets/ImageTargets/close-button.png" target-dir="Resources" />
        <resource-file src="src/ios/Assets/ImageTargets/iOSDevices.png" target-dir="Resources" />
        <resource-file src="src/ios/Assets/ImageTargets/scanline.png" target-dir="Resources" />
        <resource-file src="src/ios/Assets/ImageTargets/scanline@2x.png" target-dir="Resources" />
        
    </platform>

    <dependency id="cordova-plugin-vuforia-sdk" version="6.2.9" />
</plugin>
